{% extends '::base.html.twig' %}
{% block body %}
<table id="alumnos">
      <tbody>
        <th class="titulo" colspan="6">Todas los alumnos</th>
        <tr>
          <th>Nombre</th>
          <th>Apellido1</th>
          <th>Apellido2</th>
          <th>Ciclo</th>
          <th>Empresa</th>
        </tr>
        <p>

        </p>
        {% for alumno in alumnos %}
          <tr>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.apellido1 }}</td>
            <td>{{ alumno.apellido2 }}</td>
            <td>{{ alumno.ciclo }}</td>
            <td>{{ alumno.empresa.nombre }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
{% endblock %}
