{% extends '::base.html.twig' %}
{% block body %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Alumnos
        </h1>
    </div>
</div>
<!-- /.row -->
<table>
      <tbody>
        <tr>
          <th>Nombre</th>
          <th>Apellido1</th>
          <th>Apellido2</th>
          <th>Ciclo</th>
          <th>Empresa</th>
        </tr>
        <p>

        </p>
        {% for alumno in alumnos %}
          <tr>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.apellido1 }}</td>
            <td>{{ alumno.apellido2 }}</td>
            <td>{{ alumno.ciclo }}</td>
            <td>{{ alumno.empresa.nombre }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
{% endblock %}
