<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gestor fct</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ asset('css/estilos.css') }}" />
</head>
<body>
<style media="screen">
  label, h1, p{
    color: white;
  }
</style>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Registro
        </h1>
    </div>
</div>
<!-- /.row -->

<form action="{{ path('login') }}" method="post">
  <div class="formulario">
  <div class="form-group">
      <label for="username" class="col-sm-3 control-label">Usuario</label>
      <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario">
  </div>

  <div class="form-group">
      <label for="password" class="col-sm-3 ontrol-label">Contraseña</label>
      <input type="password" class="form-control" id="password" name="_password" placeholder="Contraseña">
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <div class="checkbox">
        <input type="checkbox" id="remember_me" name="_remember_me">
        <label for="remember_me">Recuerdame</label>
      </div>
    </div>
  </div>

  <div class="botones">
    <button class="btn btn-success" type="submit" name="button">Log in</button>
    <a class="btn btn-info" href="/registro">Registrarse</a>
  </div>
</div>
</form>
</body>
</html>
